/*-- TIMOTHY ADAMS --*/

/*-- CSS RESET --*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-- CUSTOM CSS STARTS HERE --*/

/*-- FONT IMPORT --*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*-- GLOBAL STYLES --*/
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --font-molle: 'Molle', cursive;
    --font-montserrat: 'Montserrat', sans-serif;
}

body {
    line-height: 1.5rem;
    box-sizing: border-box;
}

/*-- FONTS AND TEXT --*/
h1 {
    font-size: 3rem;
    font-family: var(--font-molle);
}

h2, h3 {
    font-size: 2rem;
    font-family: var(--font-molle);
}

h4 {
    font-family: var(--font-montserrat);
    font-weight: 700;
}

p, q, small, nav, button, form {
    font-family: var(--font-montserrat);
}

/*-- HIDDEN AND SR ACCESSABLE --*/
#skip, .sr-only {
    position: absolute;
    top: auto;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/*-- HEADER --*/
header {
    background: linear-gradient(to bottom, var(--teal), var(--white));
    position: relative;
    display: grid;
    width: 100%;
    padding-top: 20px;
    grid-template-columns: auto, 1fr, auto;
    grid-template-areas:
        'logo . menu'
        'header header header'
        'subtitle subtitle .';
}

#logo {
    grid-area: logo;
}

#logo img {
    display: block;
    width: 175px;
    margin: 10px 0;
}

header h1 {
    grid-area: header;
    margin: 20px 30px 10px 30px;
}

header p {
    grid-area: subtitle;
    margin: 0 30px 10px 30px;
}

nav {
    grid-area: menu;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 2;
    width: 45vw;
    height: 100%;
    text-align: center;
}

nav label {
    background-color: var(--yellow);
    display: block;
    padding: 20px 0;
    font-weight: 700;
}

#toggle {
    display: none;
}

#menu-toggle ul{
    display: none;
}

li a {
    display:block;
    background-color: var(--teal);
    padding: 20px 0;
    border-bottom: 1px solid var(--black);
    width: 100%;
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
}

li:hover a{
    background-color: var(--yellow);
}

#toggle:checked + label + ul {
    display: flex;
    flex-direction: column;
}

#toggle:checked + label {
    background-color: var(--black);
    color: var(--white);
}

/*-- INTRO SECTION --*/
#intro {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto 20px auto;
}

#intro h2, #intro p {
    padding: 10px 20px;
    grid-column: 1;
}

#img-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

#img-grid img {
    width: 100%;
}

/*-- PLAN SECTION --*/
#plan {
    background-color: var(--yellow);
    padding: 20px 30px;
}

#plan div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
    margin: 20px 0;
}

#plan section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: var(--teal);
    border: 5px solid var(--white);
    border-radius: 5px;
}

/*-- TESTIMONIALS SECTION --*/
#testimonials {
    padding: 20px 30px;
    margin: 20px 0;
}

#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
}

#testimonials section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#testimonials img {
    padding: 10px;
}

#testimonials h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

#testimonials q {
    font-style: italic;
}

#testimonials q::before {
  content: '"';
}
#testimonials q::after {
  content: '"';
}

/*-- ABOUT SECTION --*/
#about {
    background-color: var(--blue);
    padding: 20px 30px;
}

#about div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
    margin: 0 auto;
}

#about section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

#about h4 {
    font-weight: 700;
    padding-top: 10px;
}

#about img {
    width: 150px;
    height: 150px;
}

/*-- CONTACT US SECTION --*/
#contact {
    padding: 20px 30px;
}

#contact h3 {
    padding: 10px;
}

.form-required {
    font-family: var(--font-montserrat);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

/*-- FORM --*/
form, form div {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

form {
    margin-bottom: 20px;
}

form div>label, fieldset legend, #mySubmit {
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 800;
}

#mySubmit {
    background-color: var(--purple);
    color: var(--white);
    justify-self: end;
    align-content: center;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    width: 40%;
    height: 35px;
}

.required {
    color: var(--purple);
    font-size: 1rem;
    padding: 0 1px;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
    text-transform: none;
    font-weight: 400;
}

.radio-input {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-control {
    width: 30px;
    height: 30px;
    border: 3px solid var(--purple);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: var(--white);
}

input[type="radio"]:checked + .radio-control {
    border-color: var(--purple);
    background-color: var(--white);
}

input[type="radio"]:checked + .radio-control::before {
    content: '';
    position: absolute;
    top: 5px; left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--purple);
}

form input, form select {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 30px;
    border: 3px solid var(--purple);
}

/*-- FOOTER --*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    background-color: var(--light-gray);
}

footer a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}

/*-- MEDIUM SCREEN --*/
@media screen and (min-width: 600px) {
    header {
        grid-template-areas: 
        'logo header .'
        'logo subtitle .'
        'menu menu menu';
        gap: 10px;
        padding-bottom: 30px;
        position: static;
    }

    header p {
        font-size: 1.5rem;
    }

    #logo img {
        width: 225px;
    }

    #menu-toggle label {
        display: none;
    }

    nav {
        position: static;
        margin: 0px auto;
    }

    #menu-toggle ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    li a {
        border: none;
        background-color: var(--white);
        width: 125px;
        padding: 10px 0;
    }

    #intro {
        max-width: 90%;
    }

    #intro h2, #intro p {
        padding: 10px 0; 
    }

    #img-grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #img-grid picture {
        grid-column: 1/-1;
    }

    #plan div, #testimonials div {
        grid-template-columns: 1fr 1fr;
    }

    #about div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    fieldset {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer {
        flex-direction: row;
    }
}

/*-- LARGE SCREEN --*/
@media screen and (min-width: 1024px) {
    header {
        grid-template-columns: 75px, 1fr, 1fr;
        gap: 0;
        grid-template-areas: 
        'logo header menu'
        'logo subtitle subtitle';
        justify-content: start;
    }

    #logo {
        max-width: 250px;
    }

    #menu-toggle ul {
        gap: 10px;
        justify-content: flex-end;
    }

    nav {
        position: absolute;
        top: 0;
        margin: 0;
    }

    li a {
        padding: 5px 0;
    }

    #intro{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 1fr;
        gap: 10px;
    }

    #img-grid {
        grid-column: 2 / 3;
        grid-row: 1 / span 2;
    }

    #plan div, #testimonials div{
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    form {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    footer {
        gap: 50px;
    }

    footer p {
        align-self: flex-start;
        flex-grow: 3;
    }
}